@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap");

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    pointer-events: none;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    background-color: #220808;
}

section {
    height: 100vh;
    // width: 100vw;
    position: relative;

    &#first-page {
        display: flex;
        flex-direction: column;
        align-items: center;

        .back {
            position: absolute;
            top: 0;
            z-index: -1;
            opacity: 0.1;
            width: 100vw;
            object-fit: cover;
        }

        .blur {
            position: absolute;
            top: 0rem;
            background: rgb(206, 70, 98);
            opacity: 0.8;
            filter: blur(30rem);
            height: 50vh;
            width: 50%;
            z-index: -1;
        }

        .logo {
            height: 6vh;
            max-height: 80px;
            width: 80%;
            max-width: 300px;
            margin: 5vh;
        }

        .video-player {
            height: 35vh;
            position: relative;
            display: flex;

            video {
                height: 100%;
                width: 100%;
                max-width: 60vw;
                border-radius: 5px;
                z-index: 1;
            }

            img {
                position: absolute;
                width: 30%;
                height: 100%;
            }

            .camoes {
                right: 99%;
                bottom: -6%;
            }

            .livros {
                left: 99%;
                height: 80%;
                bottom: 0%;
            }
        }

        h4 {
            font-family: "Merriweather", serif;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3.4rem;
            text-align: center;
            color: #fff;
            width: 40vw;
            max-width: 570px;
            margin-bottom: 2.5vh;
        }

        button {
            width: 30vw;
            margin: 5vh;
            padding: 1rem;
            background: linear-gradient(180deg, #ffe4a5 0%, #ffd075 26.56%, #f0a44e 100%);
            box-shadow: 0px 0px 16px 2px rgba(247, 189, 97, 0.5);
            border-radius: 3px;
            font-family: "Raleway", sans-serif;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
            color: #030103;
            letter-spacing: 1px;
        }
    }

    &#second-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        .img-mulher {
            position: absolute;
            top: 62%;
            right: 0;
            transform: translate(0%, -50%);
            height: 90%;
        }

        .divisor {
            margin: 3rem 0;
            height: 0.1rem;
            min-height: 1px;
            width: 75%;
            background: linear-gradient(
                90deg,
                rgba(153, 87, 103, 0) 0%,
                rgba(153, 87, 103, 1) 50%,
                rgba(153, 87, 103, 0) 100%
            );
        }

        h3 {
            font-family: "Merriweather", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 2.8rem;
            line-height: 140%;
            text-align: center;
            color: white;
            margin: 0 2.5rem;
            max-width: 50rem;

            &.dest {
                margin-top: 1.5rem;
                font-weight: bold;
                color: #ffd075;
                max-width: unset;
            }
        }

        .text {
            max-width: 80rem;
            margin-bottom: 2.5rem;
            z-index: 1;

            p {
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 175%;
                color: #fff;
                margin: 2.5rem 5rem;
            }
        }
    }

    &#grid-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        .grid {
            margin: 5rem;
            display: grid;
            grid-template-rows: 1fr;
            max-width: 1300px;

            .row-one {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            }

            .row-two {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            }

            .card-grid {
                border: 1px solid #995767;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.5rem;
                padding-top: 2.5rem;
                text-align: center;

                h1 {
                    font-family: "Merriweather", serif;
                    font-style: normal;
                    font-weight: bold;
                    color: #ffd075;
                    font-size: 1.6rem;
                }

                p {
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 160%;
                    color: #fff;
                    margin-top: 1rem;
                }

                img {
                    height: 5rem;
                    width: 5rem;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    &#infos-divisor {
        height: 50vh;
        max-height: 416px;
        background: linear-gradient(
            90deg,
            rgba(107, 29, 43, 0) 0%,
            #6b1d2b 30.21%,
            rgba(107, 29, 43, 0.82) 77.08%,
            rgba(107, 29, 43, 0) 100%
        );
        width: 100%;
        margin-top: 10vh;
        position: relative;

        .img-moca {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 70%;
            max-width: 850px;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 65%;
            text-align: center;
            z-index: 1;

            img {
                max-width: 100px;
                max-height: 100px;
                height: 12rem;
                position: absolute;
                top: -3rem;
                z-index: 1;
            }

            p {
                max-width: 40%;
                margin-top: 7rem;
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 175%;
                text-align: center;
                color: #fff;
                z-index: 1;
            }

            footer {
                z-index: 1;

                h4 {
                    margin: 1.5rem 0;
                    margin-bottom: -0.5rem;
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 175%;
                    text-align: center;
                    color: #fff;
                    z-index: 1;
                }

                h1 {
                    font-family: "Merriweather", serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2.8rem;
                    line-height: 175%;
                    text-align: center;
                    color: #ffd075;
                }
            }
        }
    }

    &#explicacao-letramento {
        padding: 8rem 10rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            font-family: "Merriweather", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 4rem;
            line-height: 5rem;
            color: #ffffff;
            width: 100%;
            max-width: 1500px;

            &.desc-title {
                font-weight: bold;
                margin-bottom: 5rem;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 5fr 1fr 5fr;
            justify-items: center;
            max-width: 1500px;
            margin-top: 4rem;

            .seta {
                max-width: 60px;
                height: 100%;
            }

            .cl-grid {
                p {
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 175%;
                    /* or 28px */

                    color: #ffffff;

                    span {
                        color: #ffd075;
                        font-weight: bold;
                    }
                }

                .separator {
                    height: 0.2rem;
                    margin: 1.5rem;
                    width: 90%;
                    margin-left: 10%;
                    background: linear-gradient(3deg, #99576700 0%, #99576796 100%, #995767 100%);
                }

                .item {
                    display: flex;

                    p {
                        margin: 0;
                    }

                    img {
                        max-height: 15px;
                        margin: 0.8rem 2rem;
                    }
                }
            }
        }
    }

    &#conheca-amanda {
        padding: 5rem 10rem;
        height: auto;
        width: 99vw;
        display: flex;
        justify-content: center;

        .itens {
            max-width: 1500px;
            width: 80vw;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-column-gap: 5rem;

            .infos {
                text-align: left;

                h2 {
                    font-family: "Merriweather", serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 4rem;
                    line-height: 5rem;
                    color: #ffffff;

                    span {
                        font-weight: bold;
                    }
                }

                p {
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.8rem;
                    line-height: 175%;
                    color: #fff;
                    margin-top: 5rem;

                    span {
                        color: #ffd075;
                    }
                }

                .divisor {
                    background: linear-gradient(
                        90deg,
                        rgba(153, 87, 103, 0) 0%,
                        rgba(153, 87, 103, 1) 50%,
                        rgba(153, 87, 103, 0) 100%
                    );
                    width: 100%;
                    height: 0.25rem;
                    margin: 3rem 0;
                }
            }

            .insta {
                display: flex;
                align-items: center;
                margin-top: 2rem;

                img {
                    height: 3rem;
                    margin: 0 1rem 0 3rem;
                }

                p {
                    margin: 0;
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.8rem;
                    line-height: 175%;
                    color: #fff;
                }

                span {
                    font-family: "Merriweather", serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                    line-height: 2.3rem;
                    color: #ffffff;
                }
            }

            .insta-2 {
                display: none;
            }
        }
    }

    &#feedbacks {
        height: auto;
        width: 100%;
        padding: 0 7rem;
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Merriweather", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 4rem;
            line-height: 5rem;
            text-align: center;
            color: #ffffff;
            padding: 0 35rem;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(230px, 1fr));
            grid-gap: 3rem;
            margin: 5rem 0;
            max-width: 1500px;

            .column-1,
            .column-2,
            .column-3 {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            .feed {
                background: #3a181b;
                border-radius: 1.6rem;
                padding: 3rem;
                margin-bottom: 3rem;

                p {
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 175%;
                    color: #ffffff;
                }

                .author {
                    display: flex;
                    align-items: center;
                    margin-top: 3rem;

                    img {
                        height: 5rem;
                        border-radius: 50%;
                    }

                    .infos {
                        margin-left: 2rem;

                        p {
                            margin: 0;
                        }

                        .name {
                            font-family: "Raleway", sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 1.6rem;
                            color: #ffd075;
                        }

                        .emp {
                            font-family: "Raleway", sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.4rem;
                            line-height: 1.9rem;
                            color: #ffffff;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &#curso-pratico {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Merriweather", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 4rem;
            line-height: 5rem;
            text-align: center;
            color: #ffffff;
            padding: 0 5rem;
        }

        .itens {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1100px;
            margin-top: 5rem;
            margin-bottom: 5rem;

            .item {
                margin: 4rem;
                position: relative;

                p {
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 140%;
                    text-align: center;
                    color: #ffffff;
                    position: absolute;
                    bottom: -4rem;

                    span {
                        font-family: "Merriweather", serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 2.4rem;
                        line-height: 3rem;
                        text-align: center;
                        color: #ffd075;
                    }
                }
            }
        }
    }

    &#aulas {
        height: auto;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Merriweather", serif;
            font-style: normal;
            font-weight: normal;
            font-size: 4rem;
            line-height: 5rem;
            text-align: center;
            color: #ffffff;
        }

        .icons {
            margin-top: 7rem;
            width: 100%;
            max-width: 800px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;

            .item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        width: 100%;
                    }

                    .back {
                        height: 80%;
                        background: #833a49;
                        width: 80%;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: -1;
                        transform: translate(-50%, -50%);
                    }
                }

                p {
                    margin-top: 1.2rem;
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 2.1rem;
                    text-align: center;
                    color: #ffffff;
                }

                .item:nth-child(1) .icon {
                    height: 4.5rem;
                    width: 5rem;
                }

                .item:nth-child(2) .icon {
                    height: 4.5rem;
                    width: 4rem;

                    .back {
                        left: 0;
                    }
                }

                .item:nth-child(3) .icon {
                    height: 4rem;
                    width: 4.5rem;

                    .back {
                        left: 0 !important;
                    }
                }

                .item:nth-child(4) .icon {
                    height: 4rem;
                    width: 3.5rem;

                    .back {
                        left: 0;
                    }
                }
            }
        }

        .background {
            height: 100%;
            background: linear-gradient(180deg, #6b1d2b 0%, rgba(107, 29, 43, 0) 100%);
            width: 100%;
            margin-top: 35%;

            .notebook {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -25%;
                margin-bottom: 7rem;
                position: relative;

                .not {
                    height: 50%;
                    width: 90%;
                    max-height: 500px;
                    max-width: 900px;
                }
            }

            .btns {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5rem;

                button {
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: rgba(82, 6, 15, 0.75);
                    border: 1px solid rgba(82, 6, 15, 0.75);
                    box-sizing: border-box;
                    border-radius: 3px 0px 0px 3px;
                    background: #6b1d2b;
                    padding: 1.5rem 4.5rem;
                    outline: none;

                    &:hover {
                        box-shadow: 0px 0px 8px 2px rgba(247, 189, 97, 0.5);
                    }

                    &.selected {
                        color: #ffffff;
                        background: linear-gradient(180deg, #ffe4a5 0%, #ffd075 26.56%, #f0a44e 100%);
                        box-shadow: 0px 0px 16px 2px rgba(247, 189, 97, 0.5);
                    }
                }
            }

            .list-aulas {
                width: 100%;
                margin: 5rem 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .list {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 5rem;
                    max-width: 1100px;

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        &.extra {
                            grid-column: span 2;
                            justify-content: flex-start;
                            margin-left: 6rem;
                        }

                        img {
                            height: auto;
                        }

                        p {
                            font-family: "Merriweather", serif;
                            font-weight: normal;
                            font-size: 1.4rem;
                            line-height: 2.3rem;
                            color: #ffffff;
                            max-width: 20rem;
                            margin: 0;
                            margin-left: 2rem;

                            span {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .sec-combo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10rem 0;

                h2 {
                    font-family: "Merriweather", serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 4rem;
                    line-height: 5rem;
                    text-align: center;
                    color: #ffffff;
                    max-width: 100rem;
                }

                .combos {
                    display: grid;
                    justify-items: center;
                    align-content: center;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    max-width: 100rem;

                    .combo {
                        margin: 5rem 0;

                        p {
                            font-family: "Raleway", sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 1.8rem;
                            line-height: 2.1rem;
                            text-align: center;
                            color: #ffffff;
                            margin: 5rem 0;
                        }

                        .imagem-combo {
                            height: 36rem;
                            position: relative;

                            &.c1 {
                                background: url(imgs/combo1.png);
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            &.c2 {
                                background: url(imgs/combo2.png);
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            .preco {
                                position: absolute;
                                top: -7%;
                                right: -13%;
                                background: linear-gradient(180deg, #ffd784 0%, #f0a44e 100%);
                                height: 10rem;
                                width: 10rem;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    font-family: "Raleway", sans-serif;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 2rem;
                                    line-height: 160%;
                                    color: #000;
                                    text-align: center;
                                    text-decoration-line: line-through;
                                }
                            }
                        }
                    }
                }

                .price {
                    margin: 2rem 0;
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    text-align: center;
                    color: #ffffff;

                    span {
                        color: #ad475a;
                        text-decoration-line: line-through;
                        font-weight: 700;
                    }
                }

                .options-pay {
                    display: flex;
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    color: #ffffff;
                    font-weight: bold;
                    height: 100%;
                    margin: 3rem 0;

                    .parcelar {
                        h5 {
                            font-size: 2.4rem;
                        }

                        h3 {
                            font-size: 6.2rem;
                            line-height: 2.8rem;
                            margin-top: 2rem;
                        }
                    }

                    h2 {
                        font-size: 14.4rem;
                        line-height: 6rem;
                        font-family: "Roboto Mono", monospace;
                    }

                    .cents {
                        h4 {
                            font-size: 4rem;
                            line-height: 1rem;
                            font-family: "Roboto Mono", monospace;
                        }

                        p {
                            font-size: 1.3rem;
                            line-height: 1rem;
                            margin-left: 1rem;
                            margin-top: 3rem;
                            line-height: 1.4rem;
                        }
                    }
                }

                button {
                    margin: 7rem 0;
                    font-family: "Raleway", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    text-align: center;
                    text-transform: uppercase;
                    color: #000;
                    background: linear-gradient(180deg, #ffe4a5 0%, #ffd075 26.56%, #f0a44e 100%);
                    box-shadow: 0px 0px 8px 2px rgba(247, 189, 97, 0.5);
                    box-sizing: border-box;
                    border-radius: 3px 0px 0px 3px;
                    padding: 1.5rem 4.5rem;
                    outline: none;

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .sec-oferta {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10rem 0;

                h4 {
                    font-family: "Raleway", serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    text-align: center;
                    letter-spacing: 0.5rem;
                    text-transform: uppercase;
                    color: #ffffff;
                    padding: 0 2rem;
                }

                .timer {
                    margin: 5rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                    padding: 2rem 10rem;
                    border-radius: 1.5rem;

                    .divisor {
                        background: #f7bd61;
                        height: 1rem;
                        width: 1rem;
                        border-radius: 50%;
                        margin: 0 3rem;
                    }

                    .time {
                        h3 {
                            font-family: "Roboto Mono", monospace;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 7.2rem;
                            line-height: 8.5rem;
                            text-align: center;
                            color: #030103;
                            margin: 0;
                        }

                        p {
                            font-family: "Raleway", serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.6rem;
                            line-height: 1.9rem;
                            text-align: center;
                            color: #030103;
                            margin: 0;
                        }
                    }
                }
            }

            .sec-duvidas {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-family: "Raleway", serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 4rem;
                    line-height: 5rem;
                    text-align: center;
                    color: #ffffff;
                    margin: 10rem 0;
                    margin-top: 0;
                }

                .perguntas {
                    width: 100%;
                    max-width: 1200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .pergunta {
                        width: 95%;
                        border-radius: 0.8rem;
                        background: #3a181b;
                        padding: 1.5rem 2rem;
                        margin: 0.8rem 0;

                        .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0;

                            h5 {
                                font-family: "Raleway", serif;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 1.6rem;
                                line-height: 1.9rem;
                                text-align: inherit;
                                padding-right: 2em;
                                color: #ffffff;
                            }

                            img {
                                height: 1rem;
                                transition: 0.5s all;
                            }
                        }
                        .resp {
                            font-family: "Raleway", serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 1.4rem;
                            line-height: 150%;
                            color: #ffffff;
                            margin-top: 2rem;
                        }

                        &.hide {
                            .resp {
                                display: none;
                            }

                            .title {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }

            .sec-garantia {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 8rem 0;

                .title {
                    max-width: 1100px;
                    width: 80%;
                    display: flex;
                    padding: 0 !important;
                    align-items: center;

                    h2 {
                        text-align: unset;
                    }
                }

                .desc {
                    margin-top: 5rem;
                    max-width: 1100px;
                    width: 80%;
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    grid-gap: 3rem;
                    justify-items: center;

                    p {
                        font-family: "Raleway", serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 175%;
                        text-align: inherit;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

@media (max-width: 1410px) {
    html {
        font-size: 52.5%;
    }
}

@media (max-width: 1302px) {
    section#feedbacks h2 {
        padding: 0 15rem;
    }
}

@media (min-width: 1200px) {
    section#aulas .background .notebook {
        margin-top: -250px;
    }

    section#aulas .background {
        margin-top: 350px;
    }
}

@media (max-width: 1200px) {
    section#second-page .img-mulher {
        opacity: 0.5;
    }
}

@media (max-width: 1110px) {
    section#infos-divisor .img-moca {
        width: 60%;
    }

    section#conheca-amanda .itens {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#conheca-amanda .itens .infos .insta,
    section#conheca-amanda .itens .infos .divisor {
        display: none;
    }

    section#conheca-amanda .itens .insta-2 {
        display: flex;
    }

    section#conheca-amanda .itens .img-amanda {
        height: 384px;
        width: 500px;
        margin-top: 5rem;
    }
}

@media (max-width: 1010px) {
    section#grid-infos .grid .row-two .card-grid:nth-child(1),
    section#grid-infos .grid .row-two .card-grid:nth-child(3) {
        grid-column: 1 / 2;
    }
}

@media (max-width: 982px) {
    section#infos-divisor .img-moca {
        position: relative;
        width: 50%;
        order: 1;
        margin-top: 5rem;
    }

    section#infos-divisor {
        max-height: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#infos-divisor .text p {
        max-width: 90%;
    }

    section#feedbacks {
        padding: 0 12rem;
    }

    section#feedbacks .grid {
        grid-template-columns: repeat(2, minmax(230px, 1fr));
    }

    section#second-page .img-mulher {
        display: none;
    }

    section#curso-pratico .itens {
        grid-template-columns: 1fr 1fr;
    }

    section#aulas .background .list-aulas .list {
        grid-template-columns: 1fr 1fr;
    }

    section#aulas .background .list-aulas .list .item {
        justify-content: center;
    }

    section#aulas .background .list-aulas .list .item.extra {
        margin-left: 3rem;
    }

    section#curso-pratico .itens .item:nth-child(3) {
        grid-column: 1 / 3;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(147deg, #6b0009 0%, #d15660 100%);
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b35d74;
}
::-webkit-scrollbar-track {
    background: #6b0009;
    border-radius: 15px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

@media (max-width: 864px) {
    html {
        font-size: 50%;
    }

    section#aulas .icons {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem;
        max-width: unset;
        padding: 0 15rem;
    }

    section#aulas .background .sec-combo .title {
        padding: 0 4rem;
    }
}

@media (max-width: 768px) {
    section#first-page h4 {
        width: 90vw;
        margin-bottom: 5vh;
    }

    section#first-page .video-player img {
        display: none;
    }

    section#first-page .video-player video {
        max-width: 90vw;
        width: 100%;
    }

    section#first-page button {
        width: 90vw;
    }

    section#explicacao-letramento .grid {
        grid-template-columns: 1fr;
    }

    section#explicacao-letramento .grid .seta {
        display: none;
    }

    section#explicacao-letramento .grid .itens {
        margin: 5rem 0;
    }

    section#explicacao-letramento {
        padding: 12.5rem 6rem;
        padding-bottom: 0;
    }

    section#explicacao-letramento .grid .cl-grid .item img {
        margin-left: 0;
    }

    section#conheca-amanda .itens .img-amanda {
        height: 344px;
        width: 450px;
    }

    section#feedbacks {
        padding: 0 10rem;
    }

    section#feedbacks h2 {
        padding: 0;
    }

    section#feedbacks .grid {
        grid-template-columns: repeat(1, minmax(230px, 1fr));
    }

    section#feedbacks .grid .feed:nth-child(2) {
        margin-bottom: 0;
    }

    section#grid-infos .grid .row-one .card-grid:nth-child(3) {
        grid-column: 1 / 3;
    }
}

@media (max-width: 678px) {
    section#curso-pratico .itens .item {
        margin: 4rem 0;
    }

    section#curso-pratico .itens {
        grid-template-columns: 1fr;
    }

    section#aulas .icons {
        padding: 0 5rem;
    }

    section#aulas .background .list-aulas .list {
        grid-template-columns: 1fr;
    }

    section#aulas .background .list-aulas .list .item {
        justify-content: center;
    }

    section#aulas .background .list-aulas .list .item.extra {
        margin-left: 0rem;
        grid-column: 1;
    }

    section#aulas .background .sec-combo .combos {
        grid-template-columns: 1fr;
    }

    section#curso-pratico .itens .item:nth-child(3) {
        grid-column: 1;
    }
}

@media (max-width: 600px) {
    section#aulas .background .sec-garantia .desc {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 538px) {
    section#second-page .text {
        text-align: center;
    }

    section#infos-divisor .img-moca {
        width: 100%;
    }

    section#infos-divisor .text p {
        max-width: 100%;
    }

    section#infos-divisor .text footer h1 {
        font-size: 2.2rem;
    }

    section#infos-divisor .text footer h4 {
        margin-bottom: 0;
    }

    section#explicacao-letramento {
        padding: 12.5rem 4rem;
        padding-bottom: 0;
    }

    section#conheca-amanda {
        padding: 3rem 0rem;
    }

    section#conheca-amanda .itens .img-amanda {
        height: 100%;
        width: 100%;
    }

    section#aulas .title {
        padding: 0 3rem;
    }

    section#aulas .background .sec-oferta .timer {
        padding: 2rem 3rem;
    }

    section#grid-infos .grid .row-one .card-grid:nth-child(3) {
        grid-column: 1;
    }
}

@media (max-width: 470px) {
    section#feedbacks {
        padding: 0 3rem;
    }

    section#aulas .background .list-aulas .list .item img {
        height: 6rem;
    }

    section#aulas .background .list-aulas .list .item.extra img {
        height: 4rem;
    }

    section#aulas .background .sec-oferta .timer .time h3 {
        font-size: 4.7rem;
    }
}

@media (max-width: 392px) {
    html {
        font-size: 45%;
    }

    section#conheca-amanda .itens .insta p {
        font-size: 1.4rem;
    }

    section#aulas .icons {
        padding: 0 1.5rem;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 37%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 35.5%;
    }
}

@media (max-width: 280px) {
    html {
        font-size: 34.5%;
    }
}

@media (max-width: 270px) {
    html {
        font-size: 32.5%;
    }
}
